
.navbar-default .navbar-nav > li > a{
	text-transform: capitalize;
}
body .container {
    width: 1205px;
}
.relative{
	position: relative;
}
.w-100{
	width: 100%;
}
.inline-block li{
	display: inline-block;
}
.font-s-20{
	font-size: 20px;
}
.font-s-12{
	font-size: 12px;
}
.font-s-14{
	font-size: 14px;
}
.font-s-15{
	font-size: 15px;
}
.font-s-16{
	font-size: 16px;
}
.font-s-18{
	font-size: 18px;
}
.font-s-24{
	font-size: 24px;
}
.font-s-30{
	font-size: 30px;
}
.color-2b2b33{
	color: #2b2b33;
}
.color-f12a53{
	color: #f12a53;
}
.color-646568{
	color: #646568;
}
.color-5d5f66{
	color: #5d5f66
}
.color-fff{
	color: #fff
}
.verdana {
    font-family: 'Verdana';
    font-weight: normal;
    font-style: normal;
}
.georgia{
    font-family: 'Georgia';
    font-weight: normal;
    font-style: normal;
}
.libre-franklin-italic {
    font-family: 'Libre Franklin';
    font-weight: normal;
    font-style: italic;
}
.libre-franklin-medium{
	font-family: 'Libre Franklin';
    font-weight: 500;
    font-style: normal;
}
.libre-franklin-regular{
	font-family: 'Libre Franklin';
    font-weight: normal;
    font-style: normal;
}
.libre-franklin-semiBold{
    font-family: 'Libre Franklin';
    font-weight: 600;
    font-style: normal;
}
.futura-pt-demi{
    font-family: 'Futura PT Demi';
    font-weight: 600;
    font-style: normal;
}
.panel_box_body_group{
	margin-bottom: 20px;
}
.line{
	border-bottom: 1px solid #d9dadd;
	width: 100%;
	margin:  20px 0;
}
.panel_box_body_group .panel_box_body_details{
	max-height: 217px;
	overflow-y: auto;
	word-break: break-word;
}
.panel_box_body_group .panel_box_body_details::-webkit-scrollbar {
    width: 5px;
}
 
.panel_box_body_group .panel_box_body_details::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
.panel_box_body_group .radio label,.panel_box_body_group .checkbox label {
    min-height: 20px;
    padding-left: 15px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.panel_box_body_group .panel_box_body_details::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.text-uppercase{
	text-transform: uppercase;
}
.bg-white{
	background-color: #ffffff;
}
.bg-f2f2f2{background-color: #f2f2f2}
.bg-6e7681{
	background-color: #6e7681
}
.not-radius{
	border-radius: 0;
}
.bg-f12a53{
	background-color: #f12a53
}
.bg-2b2b33{
	background-color: #2b2b33
}
.mr-b-50{margin-bottom: 50px;}
.mr-b-30{margin-bottom: 30px;}
.mr-b-20{
	margin-bottom: 20px;
}
.mr-b-40{
	margin-bottom: 40px;
}
.mr-t-0{
	margin-top: 0;
}
.mr-t-20{
	margin-top: 20px;
}
.mr-t-30{
	margin-top: 30px;
}
.mr-t-40{
	margin-top: 40px;
}
.mr-l-10{
	margin-left: 10px;
}
.mr-r--15{
	margin-right: -15px;
}
.mr-l--15{
	margin-left: -15px;
}
.list-st-none li {
	list-style: none;
}
.w-50px {
	width: 50px;
}
.h-50px{
	height: 50px;
}
.radius-100{
	border-radius: 100%;
}
.padding-l-0 {
	padding-left: 0
}
.padding-r-0 {
	padding-right: 0
}
.section-padding-b-60{
	padding-bottom: 60px;
}

.section-padding-b-30{
	padding-bottom: 30px;
}
.section-padding-t-50{
	padding-top: 50px;
}

.panel_box {
	background-color: #fff;
	border:1px solid #d9dadd;
	padding: 35px;
}
.section-body.not-banner{
	padding-top: 100px
}
.dispaly-table{
	display: table;
}
.dispaly-table-cell{
	display: table-cell;
}
.h-90{
	height: 90px;
}
.min-height-150px{
	min-height: 137px;
}
.min-height-100px{
	min-height: 100px
}
.vertical-middle{
	
	vertical-align: middle;
}
.vertical-middle-bottom{
	vertical-align: bottom;
}
body a:hover{
	color: #f12a53;
}
body .navbar-default .navbar-nav > li > a:hover{
	color: #f12a53;
}
body .navbar-default .navbar-nav > li > a{
	font-family: 'Libre Franklin';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
#main-nav .navbar-nav > li > a{
	border: 1px solid #f12a53;
    padding: 7px 20px;
    margin-left: 10px;
}
#main-nav .navbar-nav > li > a:hover{
	background-color: #f12a53;
	color: #ffffff;
}
body .navbar-brand {
    height: 34px;
    padding: 5px 0px;
    font-size: 18px;
    line-height: 20px;
}
body .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
body .top-nav-collapse {
    padding: 5px;
}
body .navbar-nav {
    float: left;
    margin: 7px 0px;
}
body .navbar-default{
	border: none;
}
.banner-section{
	background-image: url(../images/bg-banner.png);
	background-position: center;
	background-size: 98%;
	background-repeat: no-repeat;
	height: 400px;
	display: table;
	vertical-align: middle;
	width: 100%;
	margin-top: 60px;
}
.banner-section .next-items li {
	list-style: none;
	display: inline-block;
	background-color: #f12a53;
	color: #ffffff;
	position:relative;
	padding: 5px 10px;
	margin-right: 35px;
	font-size: 14px;
	height: 29px;
	line-height: 1.5;
}
.banner-section .next-items {
	text-align: center;
	margin-top: 30px;
}
.banner-section .next-items li:before{
	content: "";
	background-image: url(../images/arrow-before.png);
	height: 29px;
	width: 15px;
	background-repeat: no-repeat;
	position: absolute;
	right: -15px;
	top: 0;
	z-index: 1;
}
.banner-section .next-items li:after{
	background-image: url(../images/arrow-after.png);
	content: "";
	height: 29px;
	width: 15px;
	position: absolute;
	left: -14px;
	top: 0;
	z-index: 1;
}

.banner-section .blok-search{
	display: table-cell;
	vertical-align: middle;
}
/* Style the search field */
.banner-section .blok-search .main-blok-search{
	max-width: 480px;
	margin: 0 auto;
}
.banner-section form.banner-search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #888f97;
  float: left;
  width: 85%;
  background: #ffffff;
}

/* Style the submit button */
.banner-section form.banner-search{
	
	margin-top: 30px;
}
.banner-section form.banner-search button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #2b2b33;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.banner-section form.banner-search button:hover {
  background: #0b7dda;
}

/* Clear floats */
.banner-section form.banner-search::after {
  content: "";
  clear: both;
  display: table;
}
.search-mutiple-section .blok-search-mutiple ul li{
	float: left;
	width: 20%;
	list-style:  none;
}
.search-mutiple-section .blok-search-mutiple ul{
	padding: 0; 
	margin:0;
	width: 100%;
	float: left;
}
.search-mutiple-section .blok-search-mutiple{
	margin-top: 0;
}


.search-mutiple-section .blok-search-mutiple ul li{
	border-left: 2px solid #6e7681;
	border-top: 2px solid #6e7681;
	border-bottom: 2px solid #6e7681;
	padding: 4px 15px;
	line-height: 1;
}
.search-mutiple-section .blok-search-mutiple ul li:last-child{
	border-right: none;
	background-color: #f12a53;
	border-left: 2px solid #f12a53;
	border-top: 2px solid #f12a53;
	border-bottom: 2px solid #f12a53;
	padding: 16px 0px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}
.search-mutiple-section .blok-search-mutiple ul li:last-child a{
	color: #ffffff;
	font-size: 14px;
}
.search-mutiple-section .blok-search-mutiple ul li label{
	width: 100%;
	font-weight: 100;
}
.search-mutiple-section .blok-search-mutiple ul li select{
	width: 100%;
	border: none;

	margin-left: -5px;
}

.listing-section{
	background-color: #f2f2f2;
	padding-bottom: 60px;
}
.listing-section .item .item-img img{
	width: 270px;
	height: 270px;
	object-fit: cover;
	object-position: center;
}
.listing-section .item .item-img{
	position: relative;
}
.listing-section .item .item-img .maker-category{
	position: absolute;
	top: 0;
	left: -18px;
	background-color: #f12a53;
	color: #fff;
	padding: 0px 5px 0px;
	z-index: 99;
}
.listing-section .item .maker-category:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0px 0px 18px;
    border-color: #f12a53 #f12a53 #f12a53 transparent;
    position: absolute;
    left: 0px;
    top: 27px;
    z-index: 9999;
}
.listing-section .item .maker-category:after {
    background-image: url(../images/arrow-after-left.png);
    content: "";
    height: 27px;
    width: 14px;
    position: absolute;
    right: -14px;
    top: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: right;
}
.listing-section .item .item-title h2{
	font-size: 18px;

	font-weight: bold;
}
.listing-section .item .item-price .red-color{
	color: #ef2b51;
}
.listing-section .item .item-img .maker-category p{
	margin-bottom: 0;
	padding: 5px;
}
.listing-section .item hr{
	border-top: 1px solid #c4c7ce;
}
.listing-section .item .item-price .red-price{
	color: #2b2b33;
	font-size: 16px;
}
.listing-section .item .item-img .maker-like{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ffffff;
	padding: 5px 5px 2px 5px;
}
#listing.listing-section .item{
	margin-bottom: 50px;
}
.listing-section .item .item-img .maker-like i{
	color: #f2355d;
	font-size: 20px;
	font-weight: bold;
}
.listing-section .item .item-address{
	position: relative;
}
.listing-section .item .item-address .maker-localtion{
	position: absolute;
	right: 0;
	top:0;
}
.listing-section .item .item-address .maker-localtion i {
	color: #b0b3b8;
	font-size: 24px;
	font-weight: bold;
}
.listing-section .item .item-description p{
	color: #656567
}
.listing-section .view-by{
	text-align: right;
}
.listing-section ul.view-by li {
	display: inline-block;
	list-style: none;
}
.listing-section ul.view-by li.action{
	border-left: 2px solid #6e7681;
	border-top: 2px solid #6e7681;
	border-bottom: 2px solid #6e7681;
	padding: 5px 15px;
	line-height: 1;
	margin: -2px;
    cursor: pointer;
}
.listing-section ul.view-by li.action.activer{
	background-color: #2b2b33;
}
.listing-section ul.view-by li.action.activer span{
	color: #fff;
}
.listing-section ul.view-by li.action:last-child{
	border-right: 2px solid #6e7681;
}
.listing-section ul.view-by li.view-by-li{
	margin-right: 20px;
}
.listing-section ul.view-by{
	margin: 40px 0 ; 
}
.section-contact{
	background-color: #f2f2f2;
}
.section-contact .bg-white-001{
	background-color: #ffffff;
	padding: 10px;
}

.section-contact .bg-gray-001{
	background-color: #e3e5e5;
	padding: 20px;
}

.section-contact .bg-white-002{
	background-color: #ffffff;
}
.section-contact .listing-section-form{
	margin: 25px 0px;
}
.section-contact .listing-section-form input[type=text] {
    border: 1px solid #d0d1d5;
    padding: 10px;
    padding-left: 40px;
    background-image: url(../images/inbox.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 72%;
    margin-right: 2%;
}
.section-contact .listing-section-form button {
	width: 25%;
	background: #f12a53;
	border: none;
	height: 41px;
	text-transform: uppercase;
	color: #fff;
}
.btn-load-more{
	background-color: #2b2b33;
	color: #fff;
	border: none;
	font-size: 14px;
	font-family: 'Libre Franklin';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 30px;

}

.section-about-us .bx-slider li{
	width: 50%;
	float: left;
	list-style: none;
	display: table;
	vertical-align: middle;
}
.section-about-us .bx-slider {
	padding-left: 0;
}

.section-about-us .bx-slider li .description {
	display: table-cell;
    vertical-align: middle;
}
.section-about-us .bx-slider li  .border-box{
	border: 2px solid #cccfd3;
	height: 280px;
	display: table;
	vertical-align: middle;
	padding: 015px;
	text-align: center;
	position: relative;
}

.section-about-us .bx-slider li .border-box:before {
	width: 32px;
	content: "\f10d";
	font-size: 14px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
	color: #b1b7bf;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: -18px;
	left: 40px;
	font-size: 35px;
}
.section-about-us .bx-slider li {
	padding-top: 50px;
}
.section-about-us .bx-slider li  .border-box:hover{
	border-color: #f12a53
}
.section-about-us .bx-slider li .border-box:hover:before {
	color: #f12a53;
}
body .bx-wrapper{
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
body .bx-wrapper .bx-prev{
	background-image: url(../images/arrow-slider-left.png) !important;;
	background-position: center !important;;
	left: -45px !important;;
}
body .bx-wrapper .bx-next{
	background-image: url(../images/arrow-slider-right.png) !important;;
	background-position: center !important;
	right: -45px !important;;
}
body .bx-wrapper .bx-controls-direction a {
    top: 60%;
}
footer{
	background-color: #f2f2f2;
	padding: 50px 0 0px 0;
}
footer .social-ul{
	padding-left: 0;
}
footer .social-ul li{
	margin-right: 10px;
}
footer .social-ul li a {
	background-color: #4267b2;
	float: left;
	border-radius: 100%;
	color: #fff;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 2.3;
}
.border-l-r-02{
	padding: 0 30px;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
.section-contact .panel_box {
    padding: 35px 30px 25px 30px;
    margin-bottom: 40px;
}
.panel_box .btn {
	padding-top: 15px;
	padding-bottom: 15px;
}
.section-contact .panel_box  .days-left{
	position: absolute;
    right: 0;
    bottom: 0;
}
.bx-slider2 li img{
	width: 100%;
	height: 600px;
	object-fit: cover;
	object-position: center;
}

.bx-slider3 a.slide img{
	width: 100%;
	height: calc(600px /4 );
	object-fit: cover;
	object-position: center;
}
.bx-slider3 a.slide{
	float: left;
	width: 100%;
	display: block;
}
.bx-slider3 a.slide{
	padding: 0 3px;
}
body .bx-wrapper .bx-controls-direction a{
	z-index: 99;
}
body .pager-bx .bx-wrapper .bx-controls-direction a.bx-next
{
	height: 30px;
	bottom: 0!important;
	left: 3px!important;
	right: 3px!important;
	top: auto !important; 
	
	margin: 0;
	padding: 0;
	width: auto;
}
body .pager-bx .bx-wrapper .bx-controls-direction a{
	background-color: #878c93!important;
}
body .pager-bx .bx-wrapper .bx-controls-direction a:hover{
	background-color: #f12a53!important;
}
body .pager-bx .bx-wrapper .bx-controls-direction a.bx-prev
{
	height: 30px;
	top: 0!important;
	left: 3px!important;
	right: 3px!important;
	bottom: auto !important;
	margin: 0;
	padding: 0;
    width: auto;
}
body .pager-bx .bx-wrapper {
	max-width: 100%;
    margin: 0px auto;
    height: 600px;
    background-color: #fff !important;
    margin: 0;
	padding: 0;
	position: static;
	overflow: hidden;
}
body .pager-bx{
	position: relative;

}
body .listing-bx .bx-wrapper .bx-prev{
	background-image: url(../images/prev-bx-1.png) !important;
    left: 0!important;
	right:auto!important;
}
body .listing-bx .bx-wrapper .bx-next{
	background-image: url(../images/next-bx-1.png) !important;
	right: 0 !important;
	left: auto !important;
}
body .listing-bx .bx-wrapper .bx-controls-direction a {

    width: 37px;
    height: 78px;
}
body .listing-bx{
	position: relative;
}
body .listing-bx .bx-wrapper{
	position: static;
}
 
body .pager-bx .bx-wrapper .bx-prev{
	background-image: url(../images/prev-bx-2.png) !important;
    left: 0!important;
	right:auto!important;
}
body .pager-bx .bx-wrapper .bx-next{
	background-image: url(../images/next-bx-2.png) !important;
	right: 0 !important;
	left: auto !important;
}